
@for $i from 1 through 12{
    .wd-#{$i}{
        width: 100% / (12/$i);
        padding: 5px 10px ;
    }
}
@media(min-width : 992px){
    @for $i from 1 through 12{
        .wd-lg-#{$i}{
            width: 100% / (12/$i);
            padding: 5px 10px ;
        }
    }
}
@media(min-width : 768px ) and (max-width : 992px){
    @for $i from 1 through 12{
        .wd-md-#{$i}{
            width: 100% / (12/$i);
            padding: 5px 10px ;
        }
    }
}
@media(min-width : 640px) and (max-width : 768px){
    @for $i from 1 through 12{
        .wd-sm-#{$i}{
            width: 100% / (12/$i);
            padding: 5px 10px ;
        }
    }
}
@media(max-width : 640px){
    @for $i from 1 through 12{
        .wd-xs-#{$i}{
            width: 100% / (12/$i);
            padding: 5px 10px ;
        }
    }
}
@for $i from 1 through 5{
    //margin
    .mg-#{$i}{
        margin: 50px / (5/$i);
    }
    .mg-x-#{$i}{
        margin: 0px 50px / (5/$i);
    }
    .mg-y-#{$i}{
        margin: 50px / (5/$i) 0px;
    }
    .mg-t-#{$i}{
        margin-top: 50px / (5/$i);
    }
    .mg-b-#{$i}{
        margin-bottom: 50px / (5/$i);
    }
    .mg-l-#{$i}{
        margin-left: 50px / (5/$i);
    }
    .mg-r-#{$i}{
        margin-right: 50px / (5/$i);
    }
    //padding
    .pd-#{$i}{
        margin: 50px / (5/$i);
    }
    .pd-x-#{$i}{
        margin: 0px 50px / (5/$i);
    }
    .pd-y-#{$i}{
        margin: 50px / (5/$i) 0px;
    }
    .pd-t-#{$i}{
        margin-top: 50px / (5/$i);
    }
    .pd-b-#{$i}{
        margin-bottom: 50px / (5/$i);
    }
    .pd-l-#{$i}{
        margin-left: 50px / (5/$i);
    }
    .pd-r-#{$i}{
        margin-right: 50px / (5/$i);
    }
}
.wd{
    margin: 5px 10px ;
}