@import './classes';
//CSS Variables

/*---colors-----*/
:root{
--color-one : #fafafa;
--color-inverse : #161616;
--text-color : #666;
--bold-text : #424242;
--color-two : #00357a;
--blue : #0285ff;
--shadow : rgba(0, 0, 0, 0.116);
--blur : rgba(255, 255, 255, 0.432);
}
/*--------------*/

/*------Fonts----------*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('../../font/ProximaNovaA-Regular.woff2') format('woff2'),
        url('../../font/ProximaNovaA-Regular.woff') format('woff'),
        url('../../font/ProximaNovaA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../../font/ProximaNova-Regular.woff2') format('woff2'),
        url('../../font/ProximaNova-Regular.woff') format('woff'),
        url('../../font/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root{
    --font-primary : 'Proxima Nova Rg';
    --font-second : 'Ubuntu', sans-serif;
}
/*------------------------*/

/*-----Mixins-------*/
@mixin border($top, $left, $bottom, $right, $color){
    border-top: $top;
    border-left: $left;
    border-bottom: $bottom;
    border-right: $right;
    border-style: solid ;
    border-color :$color; 
}