<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikifilm - Get informations about any movie</title>
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../../dist/css/style.css">
    <link rel="stylesheet" href="../fontawesome/css/all.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="../index.html" class="brand">
                <span class="logo">
                    <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 111.1919 111.1919" version="1.1" id="svg23" inkscape:version="1.0.1 (0767f8302a, 2020-10-17)" sodipodi:docname="wikifilm_square.svg">
                        <defs id="defs17"></defs>
                        <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="0.3272807" inkscape:cx="316.11809" inkscape:cy="333.3174" inkscape:document-units="mm" inkscape:current-layer="layer1" inkscape:document-rotation="0" showgrid="false" showguides="false" inkscape:window-width="1308" inkscape:window-height="704" inkscape:window-x="58" inkscape:window-y="27" inkscape:window-maximized="1"></sodipodi:namedview>
                        <metadata id="metadata20">
                            <rdf:rdf>
                            <cc:work rdf:about="">
                                <dc:format>image/svg+xml</dc:format>
                                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type>
                                <dc:title></dc:title>
                            </cc:work>
                            </rdf:rdf>
                        </metadata>
                        <g inkscape:label="Calque 1" inkscape:groupmode="layer" id="layer1" transform="translate(-42.408268,-59.976437)">
                            <rect class="rect" ;stroke-width:3.86501" id="rect29" width="111.1919" height="111.1919" x="42.408268" y="59.976437" ry="27.061562" inkscape:export-xdpi="150" inkscape:export-ydpi="150"></rect>
                            <text xml:space="preserve" style="font-size:100.549px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;fill:#ffffff;stroke-width:0.52369;" x="72.51635" y="146.7424" id="text33" inkscape:export-xdpi="150" inkscape:export-ydpi="150"><tspan class="letter" sodipodi:role="line" id="tspan31" x="72.51635" y="146.7424" style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:100.549px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu Medium';stroke-width:0.52369;">w</tspan></text>
                        </g>
                    </svg>
                </span>
                <span class="text">WikiFilm</span>
            </a>
            <div class="nav-item-container flex center-y">
                <div class="bulle-container">
                    <div class="bulle">
                        <p>US</p>
                        <p class="my-name">Uncle Sam</p>
                    </div>
                </div>
                <div class="switch on-night">
                    <span class="day-icon">
                        <i class="fas fa-sun"></i>
                    </span>
                    <span class="night-icon">
                        <i class="fas fa-moon"></i>
                    </span>
                    <input type="checkbox" id="night-mode" name="mode">
                </div>
            </div>
        </nav>
    </header>
    <section class="search-bar">
        <div class="search-input-container">
            <input type="text" placeholder="Search a movie">
            <button class="fas fa-search"></button>
        </div>
    </section>
    <section class="result-section container">
        <h2>Results for "I still believe"</h2>
        <div class="movie-container mg-t-5">
            <div class="flex">
                <div class="movie-item wd-2">
                    <span class="movie-poster">
                        <img src="../assets/images/img1.jpg" alt="">
                    </span>
                    <span class="movie-title">
                        <p>I still believe</p>
                    </span>
                </div>
                <div class="movie-item wd-2">
                    <span class="movie-poster">
                        <img src="../assets/images/img2.jpg" alt="">
                    </span>
                    <span class="movie-title">
                        <p>I still believe</p>
                    </span>
                </div>
                <div class="movie-item wd-2">
                    <span class="movie-poster">
                        <img src="../assets/images/img1.jpg" alt="">
                    </span>
                    <span class="movie-title">
                        <p>I still believe</p>
                    </span>
                </div>
                <div class="movie-item wd-2">
                    <span class="movie-poster">
                        <img src="../assets/images/img2.jpg" alt="">
                    </span>
                    <span class="movie-title">
                        <p>I still believe</p>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/47fc11e9b5.js" crossorigin="anonymous"></script>
    <script src="../dist/js/app.js"></script>
</body>
</html>